IOTsensorflow.json
[{"id":"7323e3cc.6cf43c","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"2c5b7d05.634f62","type":"ibmiot in","z":"7323e3cc.6cf43c","authentication":"apiKey","apiKey":"b67db8ae.bb56a8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1001","applicationId":"","deviceType":"sanjaynodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":240,"y":220,"wires":[["feb4af3a.42fda","481d8a29.af22c4","79250198.7a7ce","78a64c93.c51904","646ae657.af1fd8","88e11119.623e7"]]},{"id":"feb4af3a.42fda","type":"debug","z":"7323e3cc.6cf43c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":100,"wires":[]},{"id":"481d8a29.af22c4","type":"ui_gauge","z":"7323e3cc.6cf43c","name":"","group":"81fcd1fc.285","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{msg.payload.Humidity}}","min":"10","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":160,"wires":[]},{"id":"79250198.7a7ce","type":"ui_gauge","z":"7323e3cc.6cf43c","name":"","group":"3401e146.53bcce","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{msg.payload.Temperature}}","min":"65","max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":220,"wires":[]},{"id":"78a64c93.c51904","type":"ui_gauge","z":"7323e3cc.6cf43c","name":"","group":"5e0876ac.0157f8","order":0,"width":0,"height":0,"gtype":"gage","title":"Proximity","label":"units","format":"{{msg.payload.Proximity}}","min":0,"max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":280,"wires":[]},{"id":"646ae657.af1fd8","type":"ui_gauge","z":"7323e3cc.6cf43c","name":"","group":"914ce435.e96498","order":0,"width":0,"height":0,"gtype":"gage","title":"Accelerometers","label":"units","format":"{{msg.payload.Accelerometers}}","min":"20","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":360,"wires":[]},{"id":"88e11119.623e7","type":"ui_gauge","z":"7323e3cc.6cf43c","name":"","group":"1f9a5980.a9f3b7","order":0,"width":0,"height":0,"gtype":"gage","title":"Gas","label":"units","format":"{{msg.payload.Gas}}","min":"10","max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":460,"wires":[]},{"id":"2b3f92df.5e15ae","type":"cloudant out","z":"7323e3cc.6cf43c","name":"","cloudant":"","database":"iotdata","service":"DrSanjaynode-cloudant-1601655157716-62242","payonly":true,"operation":"insert","x":350,"y":440,"wires":[]},{"id":"b67db8ae.bb56a8","type":"ibmiot","z":"","name":"API KEY","keepalive":"60","serverName":"4w9nk3.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"81fcd1fc.285","type":"ui_group","z":"","name":"Humidity","tab":"54b81826.ed0118","order":5,"disp":true,"width":"6","collapse":false},{"id":"3401e146.53bcce","type":"ui_group","z":"","name":"Temperature","tab":"54b81826.ed0118","order":6,"disp":true,"width":"6","collapse":false},{"id":"5e0876ac.0157f8","type":"ui_group","z":"","name":"Proximity","tab":"54b81826.ed0118","order":4,"disp":true,"width":"6","collapse":false},{"id":"914ce435.e96498","type":"ui_group","z":"","name":"Accelerometers","tab":"54b81826.ed0118","order":7,"disp":true,"width":"6","collapse":false},{"id":"1f9a5980.a9f3b7","type":"ui_group","z":"","name":"Gas","tab":"54b81826.ed0118","order":8,"disp":true,"width":"6","collapse":false},{"id":"54b81826.ed0118","type":"ui_tab","z":"","name":"Enter Data","icon":"dashboard","disabled":false,"hidden":false}]